table{
  font-size: 11px;
}

.pagination{
  margin: 0 0 10px 0;
  float: right;
}

.busqueda{
  padding-bottom: 10px;
}

.checkbox, .radio{
  margin: 0;
}
#dataTables-example_length{
  float: right;
}

.formRegistroLinea{
  margin: 20px 0;
}

.groupRegistroLinea{
  margin: 0 15px;
}
