<div id="page-wrapper">
  <table>
    <tr>
      <td>TIPO CLC</td>
    		<td>CONCEPTO DE PAGO</td>
    		<td>TIPO DE CLAVE</td>
    		<td>gpo_id</td>
    		<td>ur_id</td>
    		<td>ue_id</td>
    		<td>prg_id</td>
    		<td>spr_id</td>
    		<td>py_id</td>
    		<td>oa_id</td>
    		<td>pg_id</td>
    		<td>pe_id</td>
    		<td>fte_id</td>
    		<td>sft_id</td>
    		<td>ori_id</td>
    		<td>sor_id</td>
    		<td>cso_id</td>
    		<td>cfi_id</td>
    		<td>cfi_anio</td>
    		<td>tcp_id</td>
    		<td>ger_id</td>
    		<td>cgp_id</td>
    		<td>rub_id</td>
    		<td>cgu_id</td>
    		<td>cgsc_id</td>
    		<td>cta_gpo_id</td>
    		<td>cta_ur_id</td>
    		<td>cta_ue_id</td>
    		<td>cgc_id</td>
    		<td>cta_id</td>
    		<td>NOMBRE CUENTA</td>
    		<td>modalidad</td>
    		<td>tipo</td>
    		<td>RFC_BENEFICIARIO</td>
    		<td>REFERENCIA</td>
    		<td>FECHA_REFERENCIA</td>
    		<td>TIPO_MOVIMINETO (+/-)</td>
    		<td>IMPORTE</td>
    		<td>IMPORTE_IVA</td>
    		<td>IMPORTENETO</td>
    		<td>CONCEPTO</td>
    		<td>FECHA INICIAL</td>
    		<td>FECHA FINAL</td>
    		<td>numero de clc</td>
    		<td>numero de control</td>
  	</tr>
    <tr>
      <td></td>
    </tr>
    <tbody>
      <?php foreach ($facturas as $row): ?>

      <?php endforeach; ?>
    </tbody>
  </table>

  <?=dump($facturas)?>
</div>
